@model MvcCv.Models.Entity.TblYeteneklerim


@{
    ViewBag.Title = "YeniYetenek";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Deneyim Güncelleme Sayfası</h4>
<br />
<form method="post">
    @Html.Label("Yetenek")
    <br />
    @Html.TextBoxFor(x => x.Yetenek, new { @class = "form-control" })
    <br />
    @Html.Label("Oran")
    <br />
    @Html.TextBoxFor(x => x.Oran, new { @class = "form-control" })
    <br />


    <button class="btn btn-info">Kaydet</button>
</form>




